@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ver como posso mandar isso para o tailwind.config.js */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(15 23 42);
}

::-webkit-scrollbar-thumb {
    background: rgb(30, 41, 59);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 65, 85);
    border-radius: 10px;
}