@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ver como posso mandar isso para o tailwind.config.js */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgb(152, 160, 171);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(133, 138, 144);
    border-radius: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  